body {
  background-color: var(--background-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2.5em;
}

:root {
  --primary-color: rgb(1, 27, 75);
  --background-color: rgb(238, 237, 237);
  --secondary-color: rgb(36, 80, 156);
}

h1 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 3rem;
}

h2 {
  text-transform: uppercase;
  color: var(--primary-color);
}

/* Alpaca */
.alpaca {
  position: relative;
}

.alpaca-backgrounds {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.alpaca-neck {
  position: absolute;
  left: 0;
  top: 0;
}

.alpaca-eyes {
  position: absolute;
  left: 0;
  top: 0;
}

.alpaca-hair {
  position: absolute;
  left: 0;
  top: 0;
}

.alpaca-mouth {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.alpaca-accessories {
  position: absolute;
  left: 0;
  top: 0;
}

.alpaca-leg {
  position: absolute;
  left: 0;
  top: 0;
}

.alpaca-nose {
  position: absolute;
  left: 0;
  top: 0;
}

/** Customizer */
.customizer {
  padding-left: 3em;
}

/** Category */
.category {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  background-color: #fff;
  color: var(--secondary-color);;
  padding: 20px 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.3rem;
  min-width: 25%;
  margin: 10px 0px;
  margin-right: 10px;
  text-transform: capitalize;
}

.category-item:hover {
  cursor: pointer;
}

.category-item.xl {
  width: 40%;
}

.category-item.active {
  background-color: var(--secondary-color);
  color: #fff;
}

/** Menu Button */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button {
  padding: 20px 10px;
  width: 12em;
  margin-right: 1em;
  margin-top: 10px;
  background-color: #fff;
  border: none;
  font-weight: bold;
}

.menu-button:hover {
  background-color: rgba(251, 249, 249, 0.856);
  cursor: pointer;
}

/** Utils */
.flex {
  display: flex;
}
